@font-face {
    font-family: 'Lato Bold';
    src: url('./assets/fonts/Lato Bold/lato_bold.eot'); /* IE 9 Compatibility Mode */
    src: url('./assets/fonts/Lato Bold/lato_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./assets/fonts/Lato Bold/lato_bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Lato Bold/lato_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./assets/fonts/Lato Bold/lato_bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Lato Bold/lato_bold.svg#lato_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('./assets/fonts/MyriadPro-Regular/myriadpro-regular.eot'); /* IE 9 Compatibility Mode */
    src: url('./assets/fonts/MyriadPro-Regular/myriadpro-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./assets/fonts/MyriadPro-Regular/myriadpro-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/MyriadPro-Regular/myriadpro-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./assets/fonts/MyriadPro-Regular/myriadpro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/MyriadPro-Regular/myriadpro-regular.svg#myriadpro-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'MavenProRegular';
    src: url('./assets/fonts/MavenProRegular/mavenproregular.eot'); /* IE 9 Compatibility Mode */
    src: url('./assets/fonts/MavenProRegular/mavenproregular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./assets/fonts/MavenProRegular/mavenproregular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/MavenProRegular/mavenproregular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./assets/fonts/MavenProRegular/mavenproregular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/MavenProRegular/mavenproregular.svg#mavenproregular') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('./assets/fonts/Lato-Regular/lato_regular.eot'); /* IE 9 Compatibility Mode */
    src: url('./assets/fonts/Lato-Regular/lato_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./assets/fonts/Lato-Regular/lato_regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Lato-Regular/lato_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./assets/fonts/Lato-Regular/lato_regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Lato-Regular/lato_regular.svg#lato_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Lato-Black';
    src: url('./assets/fonts/Lato-Black/Lato-Black.eot'); /* IE 9 Compatibility Mode */
    src: url('./assets/fonts/Lato-Black/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./assets/fonts/Lato-Black/Lato-Black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./assets/fonts/Lato-Black/Lato-Black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Lato-Black/Lato-Black.svg#lato_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('./assets/fonts/Lato-Bold/Lato-Bold.eot'); /* IE 9 Compatibility Mode */
    src: url('./assets/fonts/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./assets/fonts/Lato-Bold/Lato-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./assets/fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Lato-Bold/Lato-Bold.svg#lato_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}