@font-face {
    font-family: 'Lato Bold';
    src: url('./assets/fonts/lato_bold.eot'); /* IE 9 Compatibility Mode */
    src: url('./assets/fonts/lato_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./assets/fonts/lato_bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/lato_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./assets/fonts/lato_bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/lato_bold.svg#lato_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('./assets/fonts/myriadpro-regular.eot'); /* IE 9 Compatibility Mode */
    src: url('./assets/fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./assets/fonts/myriadpro-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/myriadpro-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./assets/fonts/myriadpro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/myriadpro-regular.svg#myriadpro-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 63px 1062px 607px / 1fr;
    justify-items: center;
}
header {
    text-align: center;
    background-color: #323232;
    height: 63px;
    width: 1020px;
    color: #ffffff;
    z-index: 1000;
}
nav {
    display: grid;
    grid-template: 1fr / 460px 100px 460px;
}
.left, .right {
    align-self: center;
    margin-top: 25.5px;
}
.left {
    justify-self: end;
    margin-right: 20px;
}
.right{
    justify-self: start;
    margin-left: 20px;
}
.right .last {
    margin-left: -1px;
}
.first {
    margin-right: 8.5px;
}
.first:after {
    content: '\00B7';
    margin-left: 11px;
    color: rgba(255, 255, 255, 255);
    cursor: default;
}
.span-img {
    position: relative;
}
.span-img h1 {
    opacity: 0;
    width: 0px;
    height: 0px;
}
.triangle {
    position: absolute;
    top: 60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 29px 50px 0 50px;
    border-color: #323232 transparent transparent transparent;
}
.before-triangle {
    border-bottom: 1px solid #e4e9eb;
    width: 410px;
    position: absolute;
    bottom: -31px;
    left: -430px;
}
.after-triangle {
    border-bottom: 1px solid #e4e9eb;
    width: 410px;
    position: absolute;
    bottom: -31px;
    left: 120px;
}

nav span img {
    position: absolute;
    top: 10px;
    left: 17px;
    z-index: 5;
}
nav a {
    text-decoration: none;
    font-family: 'Lato Bold', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif, Arial;
    font-size: 7.21379pt;
    color: rgba(255, 255, 255, 255);
    text-align: justify;
    cursor: pointer;
}
nav a:hover {
    color: rgba(46, 179, 152, 255);
}

main {
    display: grid;
    grid-template: 721px 341px / 1fr;
}
#portfolio {
    height: 721px;
    width: 1020px;
}
#about {
    background: #2eb398;
    height: 341px;
    width: 1020px;
    justify-items: center;
    z-index: 1;
}
.about-content{
    width: 820px;
    height: 316px;
    border-left: 1px solid red;
    border-right: 1px solid red;
    margin: 13px auto;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    z-index: 2;
}
.about-content-photo{
    align-self: center;
    justify-self: center;
    margin-left: 15px;
}
#getInTouch {
    background: #323232;
    height: 564px;
    width: 1020px;
}
#copyright {
    height: 43px;
    width: 1020px;
    background-color: #222222;
}
footer {
    height: 607px;
    width: 1020px;
}