@import "/fonts.css";

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 63px 1062px 607px / 1fr;
    justify-items: center;
}
header {
    text-align: center;
    background-color: #323232;
    height: 63px;
    width: 1020px;
    color: #ffffff;
    z-index: 1000;
}
nav {
    display: grid;
    grid-template: 1fr / 460px 100px 460px;
}
.left, .right {
    align-self: center;
    margin-top: 25.5px;
}
.left {
    justify-self: end;
    margin-right: 20px;
}
.right{
    justify-self: start;
    margin-left: 20px;
}
.right .last {
    margin-left: -1px;
}
.first {
    margin-right: 8.5px;
}
.first:after {
    content: '\00B7';
    margin-left: 11px;
    color: rgba(255, 255, 255, 255);
    cursor: default;
}
.span-img {
    position: relative;
}
.span-img h1 {
    opacity: 0;
    width: 0px;
    height: 0px;
}
.triangle {
    position: absolute;
    top: 60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 29px 50px 0 50px;
    border-color: #323232 transparent transparent transparent;
}
.before-triangle {
    border-bottom: 1px solid #e4e9eb;
    width: 410px;
    position: absolute;
    bottom: -31px;
    left: -430px;
}
.after-triangle {
    border-bottom: 1px solid #e4e9eb;
    width: 410px;
    position: absolute;
    bottom: -31px;
    left: 120px;
}

nav span img {
    position: absolute;
    top: 10px;
    left: 17px;
    z-index: 5;
}
nav a {
    text-decoration: none;
    font-family: 'Lato Bold', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif, Arial;
    font-size: 7.21379pt;
    color: rgba(255, 255, 255, 255);
    text-align: justify;
    cursor: pointer;
}
nav a:hover {
    color: rgba(46, 179, 152, 255);
}

main {
    display: grid;
    grid-template: 721px 341px / 1fr;
}
.portfolio {
    height: 721px;
    width: 1020px;
}
.hexagon-grid1 {
    padding: 73px 110px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hexagon-li li {
    list-style-type: none;
    position: relative;
}
.hexagon-grid1>li:first-child:before {
    content: "";
    border-left: 1px solid #e4e9eb;
    position: absolute;
    height: 104px;
    left: -21px;
    top: 52px;
}
.hexagon-grid1>li:last-child:before {
    content: "";
    border-left: 1px solid #e4e9eb;
    position: absolute;
    height: 104px;
    left: 200px;
    top: 52px;
}
.hexagon-grid2 {
    padding: 0px 10px;
    margin-top: -21px;
    height: 79px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.slider-button-panel {
    display: flex;
    width: 53px;
    margin: 94px 0px 0px 29px;
    justify-content: space-around;
}
.slider-button {
    height: 6px;
    width: 6px;
    background-color: #ddd2c5;
    cursor: pointer;
}
.slider-button:hover {
    background-color: #8b8784;
}
.section-border-button {
    text-align: center;
    width: 960px;
    border-bottom: 1px solid #e4e9eb;
    margin: 11px 30px;
}
.about {
    background: #2eb398;
    height: 341px;
    width: 1020px;
    justify-items: center;
    z-index: 1;
}
.about-content{
    width: 820px;
    height: 316px;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    margin: 13px auto;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    z-index: 2;
}
.about-content-photo{
    align-self: center;
    justify-self: center;
    margin-left: 15px;
}
.about-content-info {
    padding: 50px 13px 0px 13px;
    font-family: 'MavenProRegular', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif, Arial;
    text-align: justify;
    position: relative;
}
.info-name-block {
    height: 50px;
}
.info-name {
    font-size: 30px;
    color: rgba(215, 252, 245, 255);
}
.info-profession {
    margin: -3px 1.5px;
    font-size: 18px;
    color: rgba(32, 129, 109, 255);
}
.info-lorem {
    line-height: 180%;
    padding: 3px 1.5px;
    font-family: 'Lato-Regular', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif, Arial;
    font-size: 12px;
    color: rgba(215, 252, 245, 255);
}
.gradient-map {
    background: rgba(32, 129, 109, 0.5);
    width: 147px;
    height: 24px;
    position: absolute;
    right: 20px;
    bottom: 56px;
    z-index: 0;
}
.social {
    text-align: right;
    font-size: 0px;
    margin: 33.5px 7px;
}
.social a img {
    cursor: pointer;
    filter: hue-rotate(123deg) brightness(1.4) opacity(60%) grayscale(100%)
}
.social a img:hover {
    filter: none;
}
footer {
    height: 607px;
    width: 1020px;
}

.getInTouch {
    background: #323232;
    height: 564px;
    width: 1020px;
    display: grid;
    grid-template: 1fr / 70% 30%;
}
.getInTouch-form {
    font-family: '﻿MavenProRegular', '﻿AdobeInvisFont', '﻿MyriadPro-Regular', sans-serif, Arial;
}
.getInTouch-form .caption1 {
    font-size: 28px;
    color: #e0e0e0;
    margin: 62px 0 0 119px;
    word-spacing: 3px;
    letter-spacing: 0.5px;
}
.getInTouch-form .caption2 {
    font-size: 18px;
    color: #a1a1a1;
    margin: -0.5px 0 0 121px;
    word-spacing: -1.19px;
    letter-spacing: 0.6px;
}
.from-touch {
    font-family: '﻿Lato-Regular', '﻿AdobeInvisFont', '﻿MyriadPro-Regular', sans-serif, Arial;
    font-size: 12pt;
    text-align: justify;
    margin-left: 120px;
    margin-top: 3px;
}
.from-touch textarea {
    background-color: #454545;
    border: 0;
    word-spacing: -5px;
    color: #bebebe;
    margin-top: 17px;
    resize: none;
    height: 132px;
    width: 548px;
    padding: 9px 16px;
    font-size: 15px;
}
.from-touch input:not(.btn) {
    height: 35px;
    width: 566px;
    background-color: #454545;
    border: 0;
    padding-left: 14px;
    word-spacing: -1px;
    font-size: 11px;
    color: #bebebe;
    margin-top: 17px;
}
.from-touch .div-btn {
    text-align: right;
    margin: 12px 14px 0 0;
}
.from-touch .btn {
    font-family: '﻿Lato-Bold', '﻿AdobeInvisFont', '﻿MyriadPro-Regular', sans-serif, Arial;
    font-size: 11px;
    background: #2eb398;
    color: #b4eadf;
    cursor: pointer;
    border: 0;
    height: 37px;
    width: 90px;
}
.getInTouch-info-text {
    font-family: '﻿Lato-Black', 'Lato-Regular', 'AdobeInvisFont', '﻿MyriadPro-Regular', sans-serif, Arial;
    font-size: 12px;
    color: #919191;
    margin: 128px 0px 0 6px;
    word-spacing: 3.2px;
    letter-spacing: 0.3px;
    padding-right: 100px;
    line-height: 21.5px;
}
.getInTouch-info-text span {
    color: #d7d7d7;
}
.getInTouch-info-contacts {
    font-family: 'Lato-Bold', '﻿AdobeInvisFont', '﻿MyriadPro-Regular', sans-serif, Arial;
    font-size: 12px;
    color: #a8a8a8;
    margin-top: 39px;
}
.getInTouch-info-contacts ul{
    padding-left: 0px;
}
.getInTouch-info-contacts li {
    list-style-type: none;
    display: flex;
    margin-top: 6px;
    cursor: pointer;
}
.getInTouch-info-contacts li .span-img {
    width: 23px;
    text-align: center;
}
.getInTouch-info-contacts li .span-text {
    margin-left: 6px;
}
.copyright {
    height: 43px;
    width: 1020px;
    background-color: #222222;
    font-family: 'MavenProRegular', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif, Arial;
    color: rgba(69, 69, 69, 255);
    font-size: small;
    position: relative;
}

.copyright div{
    position: absolute;
    letter-spacing: -0.68px;
    top: 14px;
    left: 39px;
}
