@import "/fonts.css";

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 63px 1062px 607px / 1fr;
    justify-items: center;
}
header {
    text-align: center;
    background-color: #323232;
    height: 63px;
    width: 1020px;
    color: #ffffff;
    z-index: 1000;
}
nav {
    display: grid;
    grid-template: 1fr / 460px 100px 460px;
}
.left, .right {
    align-self: center;
    margin-top: 25.5px;
}
.left {
    justify-self: end;
    margin-right: 20px;
}
.right{
    justify-self: start;
    margin-left: 20px;
}
.right .last {
    margin-left: -1px;
}
.first {
    margin-right: 8.5px;
}
.first:after {
    content: '\00B7';
    margin-left: 11px;
    color: rgba(255, 255, 255, 255);
    cursor: default;
}
.span-img {
    position: relative;
}
.span-img h1 {
    opacity: 0;
    width: 0px;
    height: 0px;
}
.triangle {
    position: absolute;
    top: 60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 29px 50px 0 50px;
    border-color: #323232 transparent transparent transparent;
}
.before-triangle {
    border-bottom: 1px solid #e4e9eb;
    width: 410px;
    position: absolute;
    bottom: -31px;
    left: -430px;
}
.after-triangle {
    border-bottom: 1px solid #e4e9eb;
    width: 410px;
    position: absolute;
    bottom: -31px;
    left: 120px;
}

nav span img {
    position: absolute;
    top: 10px;
    left: 17px;
    z-index: 5;
}
nav a {
    text-decoration: none;
    font-family: 'Lato Bold', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif, Arial;
    font-size: 7.21379pt;
    color: rgba(255, 255, 255, 255);
    text-align: justify;
    cursor: pointer;
}
nav a:hover {
    color: rgba(46, 179, 152, 255);
}

main {
    display: grid;
    grid-template: 721px 341px / 1fr;
}
#portfolio {
    height: 721px;
    width: 1020px;
}
#about {
    background: #2eb398;
    height: 341px;
    width: 1020px;
    justify-items: center;
    z-index: 1;
}
.about-content{
    width: 820px;
    height: 316px;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    margin: 13px auto;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    z-index: 2;
}
.about-content-photo{
    align-self: center;
    justify-self: center;
    margin-left: 15px;
}
.about-content-info {
    padding: 50px 13px 0px 13px;
    font-family: 'MavenProRegular', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif, Arial;
    text-align: justify;
}
.info-name-block {
    height: 50px;
}
.info-name {
    font-size: 30px;
    color: rgba(215, 252, 245, 255);
}
.info-profession {
    margin: -3px 1.5px;
    font-size: 18px;
    color: rgba(32, 129, 109, 255);
}
.info-lorem {
    line-height: 180%;
    padding: 3px 1.5px;
    font-family: 'Lato-Regular', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif, Arial;
    font-size: 12px;
    color: rgba(215, 252, 245, 255);
}
.social {
    text-align: right;
    font-size: 0px;
    margin: 33px 7px;
}
.social a {
    cursor: pointer;
    /*padding: 0;*/
}
#getInTouch {
    background: #323232;
    height: 564px;
    width: 1020px;
}
#copyright {
    height: 43px;
    width: 1020px;
    background-color: #222222;
}
footer {
    height: 607px;
    width: 1020px;
}